<div class="container">
    <h2>Search for username</h2>
    <section id="search" class="search-wrap">
<form action="/dashboard/search"  class="search-form">
  <input type="search" name="term" placeholder="location" style="width:400px">
    <input class="btn btn-outline-secondary bg-dark text-white" type="submit" value="Search">
</form>
</section>
       {{#each tasks as |task|}} 
    <div class="card" style="width:300px">
        <form>
                <img class="card-img-top" src="{{task.userImage}}" alt="Card image" style="width:300px">
              <div class="card-body">
                <h4 class="card-title">{{task.name}}</h4>
                <div class="card-text">Phone: {{task.phone}}</div>
                <div class="card-text">email: {{task.email}}</div>
                <div class="card-text">Service: {{task.services}}</div>
                <div class="card-text">Price: {{task.price}}</div>
                <div class="card-text">Location: {{task.location}}</div>
                <div class="card-text">username: {{task.user.username}}</div>
                <div class="card-text">user_id: {{task.user_id}}</div>
                <div class="card-text">Task ID: {{task.id}}</div>
                <a href="/edit/{{task.id}}" class="edit-link">Update Task</a>
                
            </div>
        </div>
   {{/each}}
    </div>
