<div>This is for homepage</div>

<!--Hero-->
<section class="hero">
  <div class="hero-cta">
    <h2>Need A Task Done?</h2>
    <p>
      Let us help! Task expert connects those in need of assitance, with those willing to lend that helping hand-
      without the crazy prices.
    </p>
    <!-- *********Add Search Button-->
  </div>
</section>

<!--Find An Expert Section-->
<section id="find-expert" class="intro">
  <div class="flex-row">
    <h2 class="section-title secondary-border">Find An Expert</h2>
  </div>
  <div class="flex row">
    <div class="container d-flex" style="width: 100%;">
      {{#each tasks as |task|}}
      <div class="card resize">
        <img class="card-img-top" src="{{ task.userImage }}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{ task.name }}</h4>
          <b>Phone:</b>
          <div class="card-text">
            {{ task.phone }}</div>
          <b>email:</b>
          <div class="card-text">
            {{ task.email }}</div>
          <b>Service:</b>
          <div class="card-text">
            {{ task.services }}</div>
          <b>Price:</b>
          <div class="card-text">
            {{ task.price }}</div>
          <b>Location:</b>
          <div class="card-text">
            {{ task.location }}</div>
          <b>username:</b>
          <div class="card-text">
            {{ task.user.username }}</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>
</section>

<!--Footer-->
<footer class="footer">
  <h2>
    🌊 Made by the Killer Waves</h2>
  <a>&copy; 2022 Killer Waves</a>
</footer>