<section class="hero">
        <div class="hero-cta">
            <h2>Need A Task Done?</h2>
            <p>
                Let us help! Task expert connects those in need of assitance, with those willing to lend that helping hand- without the crazy prices. 
            </p>
        </div>
</section>

<section id="find-expert" class="intro">
  <div class="flex-row">
    <h2 class="section-title secondary-border">Find An Expert</h2>
  </div>

  <div class="flex-row">
    {{#each tasks as |task|}}    
    <div class="card" style="width:300px">
              <img class="card-img-top" src="{{task.userImage}}" alt="Card image">
              <div class="card-body">
                <h4 class="card-title">{{task.name}}</h4>
                <div class="card-text">Phone: {{task.phone}}</div>
                <div class="card-text">email: {{task.email}}</div>
                <div class="card-text">Service: {{task.services}}</div>
                <div class="card-text">Price: {{task.price}}</div>
                <div class="card-text">Location: {{task.location}}</div>
                <div class="card-text">username: {{task.user.username}}</div>

              </div>
        </div>
        {{/each}}
    </div>

</section>