
  <div class="flex row">
    <div class="container d-flex" style="width: 100%;">
      {{#each tasks as |task|}}
      <div class="card resize">
        <img class="card-img-top" src="{{ task.userImage }}" alt="Card image">
        <div class="card-body">
          <h4 class="card-title">{{ task.name }}</h4>
          <b>Phone:</b>
          <div class="card-text">
            {{ task.phone }}</div>
          <b>email:</b>
          <div class="card-text">
            {{ task.email }}</div>
          <b>Service:</b>
          <div class="card-text">
            {{ task.services }}</div>
          <b>Price:</b>
          <div class="card-text">
           ${{ task.price }} per hour </div>
          <b>Location:</b>
          <div class="card-text">
            {{ task.location }}</div>
          <b>username:</b>
          <div class="card-text">
            {{ task.user.username }}</div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>


